[Unit]
Description=Docker Compose Zabbix Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ubuntu/zabbix-docker
ExecStart=/usr/local/bin/docker-compose -f ./docker-compose_v3_ubuntu_pgsql_latest_trescloud.yaml up
ExecStop=/usr/local/bin/docker-compose -f ./docker-compose_v3_ubuntu_pgsql_latest_trescloud.yaml down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target